@tailwind base;
@tailwind components;
@tailwind utilities;

.basic-modal {
  @apply text-black;
}

.basic-modal > .header {
  @apply flex justify-between !important;
  @apply bg-green-700 !important;
  @apply text-white !important;
}

.basic-modal > .header > i {
  @apply cursor-pointer;
}

.inmo-button-red {
  @apply px-4 py-2 bg-red-600 
  border border-transparent rounded-md font-semibold capitalize text-white 
  hover:bg-red-700 active:bg-red-700 focus:outline-none focus:border-red-700 
  focus:ring focus:ring-red-200 disabled:opacity-25 transition;
}

.register-button {
  @apply block w-full max-w-xs mx-auto bg-green-700 hover:bg-green-800 focus:bg-green-800 text-white rounded-lg px-3 py-3 font-semibold !important;
}

.login-buttom {
  @apply w-full flex justify-center bg-green-400  hover:bg-green-500 text-gray-100 p-3  rounded-lg tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500 !important;
}

.scrolling-active {
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrolling-active .logo {
  @apply text-2xl font-bold font-sans text-green-600 cursor-pointer;
}

.menu-fixed {
  @apply w-full fixed z-40;
}

.logo {
  @apply text-2xl font-bold font-sans cursor-pointer text-green-600;
}

.logo-home {
  @apply text-white;
}

.scrolling-active .login-btn {
  @apply text-white bg-green-600 px-4 py-2 hover:bg-green-500 rounded-full cursor-pointer;
}

.login-btn {
  @apply text-white bg-black px-4 py-2 hover:bg-gray-900 rounded-full cursor-pointer;
}

.hero {
  width: 100%;
  height: 600px;
  background: url("/1.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.hero::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-white-black {
  background: linear-gradient(180deg, #FFF 50%, #000 50%);
}

.card-image-text {
  @apply flex justify-between !important;
}
